.content_case {
    width: 100%;
    height: auto;
}

.case_wrap {
    width: 515px;
    height: auto;
    margin-right: 15px;
    display: inline-block;
    vertical-align: top;
}

.case_wrap>h3 {
    color: #76BA00;
    font-size: 18px;
    font-style: italic;
    padding: 8px 0;
    border-bottom: 1px solid #5D9ACE;
}
.case_title{
    font-size:14px;
    height:15px;
    line-height: 15px;
    color:#3774B8;
    margin:15px 0;
}
.case li {
    width: 100%;
}

.case li h3 {
    width: 90%;
    color: #3774B8;
    font-size: 20px;
    padding: 20px 0 10px 0;
    margin: 20px 0 10px;
    border-top: 1px solid #5D9ACE;
}

.case li p {
    width: 90%;
    display: inline-block;
    color: #3774B8;
    font-size: 14px;
    line-height: 20px;
}
.case li p .img_wrap{
    float: left;
    display: block;
    width: 140px;
    height: 110px;
    margin: 0 16px 16px 0;
}
.case li p .img_wrap>img {

    width: 100%;
    height: 100%;
}

.space {
    display: block;
    height: 10px;
}
.link_with_arrow span{
    font-weight: bold;
}
.container .common_item {
    margin: 0;
}
